{{#paper-toolbar}}
    {{#paper-toolbar-tools}}
       {{#link-to 'index'}}<img id='logo' src="/images/logo.png">{{/link-to}}
{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div flex layout="row">
    <md-content flex>

        {{outlet}}

    </md-content>
</div>